{{include('partials/header.twig')}}

<div class="row">
	<div class="col s3">
		<div class="center-align">
			<h4>Bulbizar</h4>
			{% if pokemon.front_picture is not empty %}
				<img src="{{app.request.basepath ~ '/src/medias' ~ pokemon.front_picture }}" alt="">
			{% endif %}
			
			{% if pokemon.back_picture is not empty %}
				<img src="{{app.request.basepath ~ '/src/medias' ~ pokemon.back_picture }}" alt="">
			{% endif %}
		</div>
	</div>
	<div class="col s9">
		<ul class="collection">
			<li class="collection-item">
				Height : {{ pokemon.height }}
			</li>
			<li class="collection-item">
				Weight : {{ pokemon.weight }}
			</li>
			<li class="collection-item">
				Types : 
				{% for type in pokemon.types %}
					{{ type.name }}{{ loop.last ? '' : ',' }}
				{% endfor %}
			</li>
		</ul>
	</div>
</div>

{{include('partials/footer.twig')}}